<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content='text/html; http-equiv="Content-Type" '>
	<title>mailer view</title>
</head>
<body>
	<h1>New entry created in <%= @project.name%></h1>
		<p>
			A new entry has been created in the project.
		</p>
</body>
</html>