<h1>Projects#index</h1>


<ul>
	<% @projects.each do |project| %>
		<%if project.description.present?%>
			<a href=<%= "/projects/#{project.id}"%>>
				<li><%="this proj is called --> #{project.name} and #{project.description}"%></li>
			</a>
			
		<%else%>
			<a href=<%= "/projects/#{project.id}"%>>
				<li><%=" this project is called -->   #{project.name}"%></li>
			</a>	
		
		<%end%>
			
	<%end%>
	
</ul>
